
*{
    margin: 5;
    padding: 5;
}


body {
    background-color: grey;
  }
  


.main-nav
{
    list-style:none;
      
       margin: 45px;

}

.main-nav li
{
    display: inline-block;
}

.main-nav-li a 
{
    color: white;
    text-decoration: none;
    padding: 10px 20;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
}

.main-nav li.active a
{
    border:1pxsolid plum
}

.main-nav li a
{
    border:1px solid palevioletred;
}




.centre{
    display:block;
    

}

a:hover{
    background-color:pink;
}

div.a {
    text-align: center;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font: size 15px;
}
 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  
  
body {
    color: white;
  }

  h1 {
    font-size: 30px
    
}


h2 {
    font-size: 30px
    
}


h3 {
    font-size: 30px
    
}
  
h4 {
    font-size: 30px
    
}

h5 {
    font-size: 30px
    
}

h6 {
    font-size: 30px
    
}


p {
    font-size: 20px
    
}

ul{
    font-size: 20px;
}


