*{
    margin: 0;
    padding: 0;
}


body {
    background-color: lightcoral;
  }
  


.main-nav
{
    list-style:none;
      
       margin: 45px;

}

.main-nav li
{
    display: inline-block;
}

.main-nav-li a 
{
    color: white;
    text-decoration: none;
    padding: 10px 20;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
}

.main-nav li.active a
{
    border:1pxsolid plum
}

.main-nav li a
{
    border:1px solid palevioletred;
}




.centre{
    display:block;
    

}

a:hover{
    background-color:pink;
}

div.a {
    text-align: center;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font: size 15px;
}
 
h1 {
    font-size: 100px
    
}


h1 {
    color:white;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  } 


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h2 {
    font-size: 100px
    
}


body {
    color: white;
  }
  
  
  


